pkgbase = claudedial-bin
	pkgdesc = Claude Code usage at a glance - minimal system tray indicator
	pkgver = 0.1.7
	pkgrel = 1
	url = https://github.com/MarvinParanoid/ClaudeDial
	arch = x86_64
	license = MIT
	depends = qt6-base>=6.8
	depends = qt6-declarative
	depends = qt6-svg
	provides = claudedial
	conflicts = claudedial
	options = !strip
	options = !debug
	source = claudedial-0.1.7.tar.gz::https://github.com/MarvinParanoid/ClaudeDial/releases/download/v0.1.7/claudedial-0.1.7-linux-x86_64.tar.gz
	source = LICENSE-0.1.7::https://github.com/MarvinParanoid/ClaudeDial/raw/v0.1.7/LICENSE
	sha256sums = 362f4cf398f6d631e352f6b52d6ce20c9025e227adbd241fbb490768572c8cf5
	sha256sums = 4698a8696649196be7bb4e7b24a8ed90865cc8933efe8f199415bb634dbf4630

pkgname = claudedial-bin
